build/
tools/blender/
__pycache__/
*.pyc
.DS_Store
Thumbs.db
*.blend
*.blend1
*.npz
*.npy
*.pickle
*.log
*.sav
*.tmp
settings.ini
identity.key
zero_point_admin.cfg
assets/previews/
assets/source/players/
assets/source/rocketbox/
assets/source/fauna/
assets/source/flora/
assets/source/ground/
